
*.vsidx
*.vsidx
*.cache
Cellular-Automaton-GUI/obj/Debug/net7.0-windows/Cellular-Automaton-GUI.AssemblyInfo.cs
Cellular-Automaton-GUI/obj/Debug/net7.0-windows/Cellular-Automaton-GUI.GeneratedMSBuildEditorConfig.editorconfig
Cellular Automaton/.vs/Cellular Automaton/v17/.futdcache.v2
Cellular Automaton/.vs/Cellular Automaton/FileContentIndex/a4a27d86-4e7b-4117-a5d1-93487ee805c3.vsidx
Cellular Automaton/.vs/Cellular Automaton/v17/.suo
*.cache
